<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >My curriculum</ion-title>
    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button (click)="nav('/login')">Login</ion-button> 
         <ion-button (click)="nav('/signin')">Signin</ion-button>
         <ion-button (click)="nav('/calculadora')">calculadora</ion-button>
         <ion-button (click)="nav('moneyconversion')">Conversor</ion-button>
         <ion-button (click)="nav('memorama')">Memorama</ion-button>
         <ion-button (click)="nav('/conway')">conway</ion-button>

      
  
      </ion-buttons>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     <ion-title size="large"> Hello is this mi fisrt page from Ionic </ion-title>
     
    </ion-toolbar>
  </ion-header>

  <div id="container">
      


    <ion-card>
    
      <img src="assets/Img/1.jpg">
     

      <ion-card-header>
        <ion-card-title>Hello My name Is...</ion-card-title>
        <ion-card-subtitle>My name is Salvador Mejia Rangel I am student from The UT Salamanca </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        I from Guanajuato,salamanca and I like this university and because I like this Career because a like PC and I want to learn Lenguage of programming 
       and make a me full stack My hobbies is play videogames with my friends Julian, Joshua, Luis, Cristian and Eduardo 
       my favorite videogames saga is crash bandicoot and persona (shin megami tensei saga spin off) and othe games rpg
      </ion-card-content>
    </ion-card>
    
     

</div>
 
  
</ion-content>
